body {
  background-color: #fbfff1;
}
ul,
li {
  list-style-type: none;
}

li {
  line-height: 2.6;
}
button {
  border: none;
  background-color: #fbfff1;
  cursor: pointer;
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.formContainer {
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #3d52d5;
  width: 40vw;
  height: 6vh;
}

.inputField {
  padding: 1.5px 2.5px;
  margin: 8px 5px;
  box-sizing: border-box;
  width: 35vw;
  font-size: 16px;
  border: none;
  outline: none;
}

.buttonSearch {
  font-size: 16px;
}

.repos {
  background-color: #b4c5e4;
  width: 20vw;
  border: 1px solid #3d52d5;
  margin-bottom: 20px;
  padding-left: 100px;
  cursor: pointer;
}

.avatar {
  width: 15vw;
  height: 30vh;
  margin-bottom: 20px;
}

.followContainer {
  display: flex;
  margin-bottom: 10px;
}

.userInitialState {
  display: none;
}

.displayUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repoDescription {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 45vw;
  height: 50vh;
  z-index: 1;
  background-color: #b4c5e4;
  animation: descriptionAnimation 0.5s;
}

@keyframes descriptionAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clearDescription {
  position: absolute;
  top: -25px;
  right: 15px;
  cursor: pointer;
  font-size: 26px;
  z-index: 10;
}

.displayNone {
  display: none;
}
